<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="~/css/materialize.min.css" media="screen,projection" />

    <script type="text/javascript" src="~/Scripts/materialize.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CricPredict</title>
    
    <style type="text/css">
        nav {
            height: 40px;
            line-height: 40px;
        }

            nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
                height: 40px;
                line-height: 40px;
            }

            nav .button-collapse i {
                height: 40px;
                line-height: 40px;
            }

            nav .brand-logo {
                font-size: 1.6rem;
            }
    </style>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-2176788893488829",
            enable_page_level_ads: true
        });
    </script>


    <script type="text/javascript">  var appInsights = window.appInsights || function (a) { function b(a) { c[a] = function () { var b = arguments; c.queue.push(function () { c[a].apply(c, b) }) } } var c = { config: a }, d = document, e = window; setTimeout(function () { var b = d.createElement("script"); b.src = a.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js", d.getElementsByTagName("script")[0].parentNode.appendChild(b) }); try { c.cookie = d.cookie } catch (a) { } c.queue = []; for (var f = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; f.length;)b("track" + f.pop()); if (b("setAuthenticatedUserContext"), b("clearAuthenticatedUserContext"), b("startTrackEvent"), b("stopTrackEvent"), b("startTrackPage"), b("stopTrackPage"), b("flush"), !a.disableExceptionTracking) { f = "onerror", b("_" + f); var g = e[f]; e[f] = function (a, b, d, e, h) { var i = g && g(a, b, d, e, h); return !0 !== i && c["_" + f](a, b, d, e, h), i } } return c }({ instrumentationKey: "a7221fa3-1eae-4cc0-aa0a-ab6acabade28" }); window.appInsights = appInsights, appInsights.queue && 0 === appInsights.queue.length && appInsights.trackPageView();</script>
    
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="blue-grey darken-1">
        <div class="container">
            <div class="nav-wrapper">
                @Html.ActionLink("CricPredict", "Index", "Home", new { area = "" }, new { @class = "brand-logo right" })
                <ul class="right" style="padding-right:120px">
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { })</li>
                </ul>
                <ul class="left">
                    <li class="active">@Html.ActionLink("Indian Premier League", "Predictions", "IPL18", new { area = "" }, new { })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
